# 1. Assignment

# Task:-1

1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
#first program 
s=input("Enter the String:-")
for i in s:
    if s=="S":
        print("shashikant")
    elif s=="G":
        Print("Gupta")
    else:
        print("shashikant Gupta")

Enter the String:-S
shashikant

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [2]:
l=[]
print("Output:-")
for x in range(2000, 3201):
    if (x%7==0) and (x%5==0):
        l.append(str(x))
print (','.join(l))

Output:-
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

3. Write a Python program to accept the user's first and last name and then getting them printed in
  the the reverse order with a space between first name and last name.

In [3]:
First_name= input("Enter the First name\t")
Last_name= input("Enter the Last name\t")
print((Last_name +" "+ First_name))

Enter the First name	Shashikant
Enter the Last name	gupta
gupta Shashikant

4. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [4]:
print("volume of sphere")
d=12
r=d/2
Volume_of_sphere= 4/3*3.14*pow(r,3)
print(Volume_of_sphere)

volume of sphere
904.3199999999999

# Task 2:

1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [5]:
print("output")
values=input()
l=values.split(",")
print(l)

output
64,47,58,74,78
['64', '47', '58', '74', '78']

2. Create the below pattern using nested for loop in Python.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
s= int(input("enter the number"))
for i in range(s):
    print("* "*(i+1))
for i in range(s-1):
    print("* "*(s-i-1))

enter the number4
*
* *
* * *
* * * *
* * *
* *
*

3. Write a Python program to reverse a word after accepting the input from the user.

In [8]:
num =input("enter the string\t")
reverse=num[::-1]
reverse

enter the string	ShashiKantGupta

'atpuGtnaKihsahS'

4. Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [9]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens